:root {
  --chatbot-container-bg-image: none;
  --chatbot-container-bg-color: transparent;
  --chatbot-container-font-family: 'Open Sans';

  --chatbot-button-bg-color: #0042da;
  --chatbot-button-color: #ffffff;

  --chatbot-host-bubble-bg-color: #f7f8ff;
  --chatbot-host-bubble-color: #303235;

  --chatbot-guest-bubble-bg-color: #3B81F6;
  --chatbot-guest-bubble-color: #ffffff;

  --chatbot-input-bg-color: #ffffff;
  --chatbot-input-color: #303235;
  --chatbot-input-placeholder-color: #9095a0;

  --chatbot-header-bg-color: #ffffff;
  --chatbot-header-color: #303235;

  --chatbot-border-radius: 6px;

  /* Phone input */
  --PhoneInputCountryFlag-borderColor: transparent;
  --PhoneInput-color--focus: transparent;
}
